* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

h1 {
    color: blue;
    font-size: 32px;
}
ul {
    list-style-type: none;
    padding: -5;

}

.imagen1 {
    margin: 40px;
}

.ullist {
    font-size: 16px;

}

.hola1 {
    background-color;: chocolate
}

